//_mediumscreen.scss

// Medium screens
@media only screen and (min-width: 40.063em) { 


.section1Left{
	margin-top: 10px;
}

.section4Inner{
	margin-top: 40px;
}



.section3BlockGrid {
  @include block-grid(
    // This controls how many elements will be on each row of the block grid. Set this to whatever number you need, up to the max allowed in the variable.
    // Available options: 1-12 by default, and false.
    $per-row: 4,

    // This controls how much space is between each item in the block grid.
    // Use a variable or any pixel or em values.
    $spacing: $block-grid-default-spacing,

    // This controls whether or not base styles come through, set to false to leave out.
    $base-style: true
  );
}

.section4Left{
	//margin-top: 20px;
}

  } /* min-width 641px, medium screens */